<div class="footer-grid">
  <div class="footer-content-A list-height">
    <div class="footer-content-header">Tripzone</div>
    <div> About</div>
    <div>Awards</div>
    <div> Contact Us</div>
    <div> Feedback</div>
  </div>

  <div class="footer-content-B list-height">
    <div class="footer-content-header">Main Offices</div>
    <div> The United States</div>
    <div>India</div>
    <div>Brazil</div>
    <div>Canada</div>
  </div>

  <div class="footer-content-C list-height">
    <div class="footer-content-header">Sub Offices</div>
    <div>Australia</div>
    <div>England</div>
    <div>France</div>
    <div>Germany</div>
  </div>

  <div class="footer-content-D list-height">
    <div class="footer-content-header">Disclaimer</div>
    <div class="disclaimer-color"> This layout is created as a part of Sirius UI
      Recruitments. <br>
      <div> All the above content has no direct
        relation with Sirius business
      </div>
    </div>
  </div>
</div>
