<div class="header-weather">
  <div>
    Book now to get exciting travel deals. Upto 40% off on credit card payments
  </div>
  <div class="time-display">
    Offers ends in {{displayTimer}}
  </div>
</div>

<div class="menu">
  <div>
    <a href="#weather">WEATHER</a>
  </div>
  <div>
    <a href="#destinations">DESTINATIONS</a>
  </div>
  <div>
    <a href="#quote">GET A QUOTE</a>
  </div>
</div>

<div class="opening-image-grid">

  <div class="opening-image">
  </div>

  <div class="opening-image-text-grid">
    <div class="life-short-text">
      Life is short <br> and the world is wide!
    </div>
    <div class="after-pandemic-text">
      Stay at the comfort of your homes and book a trip to travel after the post pandemic era.
    </div>
    <div class="plan-trip">
      <button class="plan-trip-btn">
        plan a trip
      </button>
    </div>
  </div>
</div>

<div class="weather-grid">
  the weather channel
</div>

<div id='weather' class="weather-display">
  <div class="weather-grid-display" *ngFor="let wd of weatherDetails">
    <div>{{wd.city}}</div>
    <img src="../../assets/icon-party-sunny.svg" alt="weather-pattern">
    <div>{{wd.temp_Celsius}}</div>
  </div>
</div>

<div id="destinations" class="featuredDestText">
  Featured Destinations
</div>
<div class="featured-city-display">
  <div *ngFor="let fd of featuredDest">
    <div class="image-featured-div">
      <img class="featured-image" [src]=fd.imageUrl alt="featured-city">
    </div>
    <div class="featured-img-font">{{fd.city}}</div>
  </div>
</div>

<div class="promo-img-div">
  <img class="promo-image" src="../../assets/promo-image.png" alt="promo-image">
  <div class="plan-trip-text">PLAN A TRIP</div>
  <div class="memorable-trip-text">Make your vacation the most<br> memorable one
  </div>
</div>

<div class="form-heading">
  Travelling as a group? Get a Quote
</div>

<div id="quote" class="form-div">
  <form [formGroup]="quoteForm" (ngSubmit)="onSubmitQuoteDetails()">

    <label class="form-label" for="name">Your Name </label>
    <input id="name" type="text" formControlName="name" required>
    <div
      *ngIf="quoteForm.controls['name'].invalid && quoteForm.controls['name'].errors && (quoteForm.controls['name'].dirty || quoteForm.controls['name'].touched)">
      <span class="form-error-field">
        Name is required.
      </span>
    </div>

    <label class="form-label" for="name">Contact Number </label>
    <input id="contact" type="text" formControlName="contact" required>
    <div
      *ngIf="quoteForm.controls['contact'].invalid && quoteForm.controls['contact'].errors && (quoteForm.controls['contact'].dirty || quoteForm.controls['contact'].touched)">
      <small class="form-error-field">
        Contact Number is required or invalid.
      </small>
    </div>

    <label class="form-label" for="name">Email </label>
    <input id="email" type="email" formControlName="email" required>
    <div
      *ngIf="quoteForm.controls['email'].invalid && quoteForm.controls['email'].errors && (quoteForm.controls['email'].dirty || quoteForm.controls['email'].touched)">
      <small class="form-error-field">
        Email is required or invalid.
      </small>
    </div>
    <div *ngIf="formSubmitted" class="form-submit-success">
      We hear you! We will get back to you for planning your vacation.
    </div>
    <div class="submit-div">
      <button class="submit-btn" type="submit" [disabled]="!quoteForm.valid">SUBMIT</button>
    </div>

  </form>
</div>

<div class="footer-grid">
  <div class="footer-content-A list-height">
    <div class="footer-content-header">Tripzone</div>
    <div> About</div>
    <div>Awards</div>
    <div> Contact Us</div>
    <div> Feedback</div>
  </div>

  <div class="footer-content-B list-height">
    <div class="footer-content-header">Main Offices</div>
    <div> The United States</div>
    <div>India</div>
    <div>Brazil</div>
    <div>Canada</div>
  </div>

  <div class="footer-content-C list-height">
    <div class="footer-content-header">Sub Offices</div>
    <div>Australia</div>
    <div>England</div>
    <div>France</div>
    <div>Germany</div>
  </div>

  <div class="footer-content-D list-height">
    <div class="footer-content-header">Disclaimer</div>
    <div class="disclaimer-color"> This layout is created as a part of Sirius UI
      Recruitments. <br>
      <div> All the above content has no direct
        relation with Sirius business
      </div>
    </div>
  </div>
</div>
