<div class="header-weather">
  <div>
    Book now to get exciting travel deals. Upto 40% off on credit card payments
  </div>
  <div class="time-display">
    Offers ends in {{displayTimer}}
  </div>
</div>

<div class="menu">
  <div>
    WEATHER
  </div>
  <div>
    DESTINATIONS
  </div>
  <div>
    GET A QUOTE
  </div>
</div>

<div class="opening-image-grid">

  <div class="opening-image">
  </div>

  <div class="opening-image-text-grid">
    <div class="life-short-text">
      Life is short <br> and the world is wide!
    </div>
    <div class="after-pandemic-text">
      Stay at the comfort of your homes and book a trip to travel after the post pandemic era.
    </div>
    <div class="plan-trip">
      <button class="plan-trip-btn">
        plan a trip
      </button>
    </div>
  </div>

</div>
