<app-company-header></app-company-header>

<div class="opening-image-grid">

  <div class="opening-image">
  </div>

  <div class="opening-image-text-grid">
    <div class="life-short-text">
      Life is short <br> and the world is wide!
    </div>
    <div class="after-pandemic-text">
      Stay at the comfort of your homes and book a trip to travel after the post pandemic era.
    </div>
    <div class="plan-trip">
      <button class="plan-trip-btn">
        plan a trip
      </button>
    </div>
  </div>
</div>

<div class="weather-grid">
  the weather channel
</div>

<div id='weather' class="weather-display">
  <div class="weather-grid-display" *ngFor="let wd of weatherDetails">
    <div>{{wd.city}}</div>
    <img src="../../assets/icon-party-sunny.svg" alt="weather-pattern">
    <div>{{wd.temp_Celsius}}</div>
  </div>
</div>

<div id="destinations" class="featuredDestText">
  Featured Destinations
</div>
<div class="featured-city-display">
  <div *ngFor="let fd of featuredDest">
    <div class="image-featured-div">
      <img class="featured-image" [src]=fd.imageUrl alt="featured-city">
    </div>
    <div class="featured-img-font">{{fd.city}}</div>
  </div>
</div>

<div class="promo-img-div">
  <img class="promo-image" src="../../assets/promo-image.png" alt="promo-image">
  <div class="plan-trip-text">PLAN A TRIP</div>
  <div class="memorable-trip-text">Make your vacation the most<br> memorable one
  </div>
</div>

<app-travel-quote id="quote"></app-travel-quote>

<app-company-footer></app-company-footer>
